@import url('https://fonts.googleapis.com/css?family=Nunito');


body {
    font-family: 'Nunito', sans-serif;
}

.font30 {
    font-size: 30px;
}
.space20{
    padding-top: 20px;
}
.centered {
    text-align: center;
    border: 3px solid green;
}
.jumbo-main {
  background-image: url("./assets/sunrise.jpg");
  background-size: cover;
  width: 100%;
  height: 180px;
  position: relative;
  z-index: -2;
}

.signin_padding{
    padding-right: 200px;
    padding-left: 200px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    z-index: 999;
    transform: translateY(-50%);
    top:30px;
    width: 100%;
    font-size: 32px;
    box-shadow: 2px 2px 8px #000000;
    background-color: #FFFFFF;
}

.widepic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.centeredpink {
    text-align: center;
    background-color: #F5B295;

}